
body {
	font-family: 'Cormorant Garamond', serif;
	color: #333333;
}

p {
	line-height: 125%;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 0.3px;
	margin:0;
	padding-bottom:3px;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.7rem;
	font-variant: small-caps;
}

a {
	text-decoration: none;
	color: #333333;
}

a:hover {
	color: #CBA2A2;
}

nav a,span {
	vertical-align: text-bottom;
  padding-right: 10px;
}

#nav_placeholder {
  margin-bottom: 10px;
}

#main-content {
	box-sizing: border-box;
	border-style: solid;
	border-width: 2px;
	border-color: #997379;
	padding: 20px 50px;
}

img {
	max-width: 100%;
}

#logo {
	margin: -3px;
}

.pdfobject-container {
  width: 100%;
  max-width: 960px;
  height: 1200px;
}

.grid {
	margin: 0 auto;
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

.grid-item img {
	width: 200px;
	height: 200px;
	float: left;
	padding: 5px; /* grid item frame / gutter */
	background: #cba2a2; /* grid item frame color*/
	margin: 10px;
}


.footnote {
	text-align: center;
	background-color: rgba(51,51,51,0.95);
	color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 20px;
	width: 100%;
	padding: 5px;
}

.social-media-icons {
	position: absolute;
	left: 30px;
	top: 35%;
}

.social-media-icons img {
	width:2.0rem;
	height:2.0rem;
}

@media (max-width: 550px) {
	.social-media-icons {
		display: none; /* why won't hidden work? */
	}
}
