body {
	font-family: "Roboto", sans-serif;
	color: #000000;
	background:#000;
	font-weight:100;
	margin:0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:100;
	margin:0;
}

a,a:hover {
	text-decoration:none;
	text-transform:uppercase;
}

a {
	color: #333;
}

a:hover {
	color: #C9A2A3;
}

.row {
	margin:0;
}

#two-cols {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}

.title-bg {
  background:black;
	color: #ffffff;
	width:280px;
	min-height:130px;
	position:absolute;
	top:60%;
	left:15%;
}
.title {
	text-transform:uppercase;
	letter-spacing:1;
	position:absolute;
	top:5%;
	left:5%;
	z-index:1;
}

.author {
	text-transform:uppercase;
	letter-spacing:1;
	position:absolute;
	top:55%;
	left:35%;
	z-index:1;
}

#copyright{
	color:#fff;
	z-index:999;
	font-size:10px;
	text-align:center;
	padding:5px;
	margin:0;
	background-color:black;
}

#copyright a {
	color: #fff;
}


/* FULLSCREEN_IMAGES */

/* via http://www.minimit.com/demos/fullscreen-backgrounds-with-centered-content */

.background {
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position:50% 50%; /* custom */
	/* background-position:50% 50%\9 */ !important; /* ie8 graceful degradation */
}

/* fullscreen setup */
html, body {
	height:100%;
}

.fullscreen,
.content-a {
	width:100%;
	height:100%;
	overflow:hidden;
	margin: 0 auto;
}

.fullscreen.overflow,
.fullscreen.overflow .content-a {
	height:auto;
	min-height:100%;
}

/* content centering */
.content-a {
	display:table;
}

.content-b {
	display:table-cell;
	position:relative;
	vertical-align:middle;
	text-align:left;
}


.not-fullscreen {
	height:50%;
}

@media (max-width:450px) {
	.background {
		background-attachment:scroll;
	}
}

/* MODAL */

.modal {
	display: none; /* Hidden by default */
	z-index: 1; /* Sit on top */
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* TODO for box or bg Enable scroll if needed */
	background-color: rgb(255,255,255); /* Fallback color */
	background-color: rgba(255,255,255,0.8); /* Black w/ opacity */
	color: #000;
}



/* box via https://stackoverflow.com/questions/5012111/how-to-position-a-div-in-the-middle-of-the-screen-when-the-page-is-bigger-than-t */
.modal-content {
	top: 50%;
	left: 50%;
	width:500px;
	height:500px;
	margin-top: -250px; /*set to a negative number 1/2 of your height*/
	margin-left: -250px; /*set to a negative number 1/2 of your width*/
	
	background-color: #fff;
	position:fixed;
	padding:20px;
}

/* The Close Button */
.close-btn {
	float: right;
	font-size: 30px;
	font-weight: 100;
}

.close-btn:hover,
.close-btn:focus {
	color: #333;
	text-decoration: none;
	cursor: pointer;
}

@media (max-width: 450px) {
	.modal-content {
		width:300px;
		height:300px;
		margin-top: -150px; /*set to a negative number 1/2 of your height*/
		margin-left: -150px; /*set to a negative number 1/2 of your width*/
	}
}


/* MASONRY_GRID */

.grid {
	margin: 0 auto;
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

.grid-item img {
	width: 350px;
	height: 350px;
	float: left;
	padding: 5px; /* grid item frame / gutter */
	margin: 10px;
}
/*
img.fit {
	width: 450px;
	height: 450px;
	-o-object-fit: contain;
	object-fit: contain;
	object-fit:cover;
}
*/
/* NAVBAR */

.anchor {
	display: block;
	height: 80px; /*same height as header*/
	margin-top: -80px; /*same height as header*/
	visibility: hidden;
}


@media (max-width: 450px) {
	.anchor {
		height: 100px; /*same height as header*/
		margin-top: -100px; /*same height as header*/
	}
}

#navbar-placement {
	display:inline-block;
}

.navbar {
	overflow:hidden;
	background-color:black;
	position:fixed;
	width:100%;
	z-index:99;
	text-align:center;
}

.navbar a {
	float:left;
	color:white;
	text-align:center;
	padding:14px 16px;
	font-size:1.5rem;
}

.navbar hover {
	color:red;
}

.navbar .menu_icon {
	display:none;
}


@media screen and (max-width: 600px) {
	.navbar a:not(:first-child) {display: none;} /* hide all but first element */
	.navbar a.menu_icon {
		float: right;
		display: block;
	}
	#navbar-placement {
		display:block;
	}
}

@media screen and (max-width: 600px) {
	.navbar.responsive {position: fixed;}
	.navbar.responsive .menu_icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	
}






