body {
	font-family: 'Cormorant Garamond', serif;
}

h1,h2,h3,h4,h5,h6 {
	margin: 2px;
}

h1,h2,h3,h6 {
	text-align: center;
}

a {
	text-decoration: none;
	color: #333333;
}

nav {
	margin-top: 30px;
}

nav a {
	padding-right: 10px;
	font-variant: small-caps;
	font-size: 1.5rem;
}

img {
	display: block;
	max-width: 100%;
	padding: 5px 0;
}

.section {
	padding: 100px 0;
	border-bottom: 1px solid #dddddd;
}

#logo {
	width:400px;
	margin: auto;
}

.footer {
	background: #333333;
	padding: 10px;
}

.footer,
.footer a {
	color: #ffffff;
}
